@import url('https://fonts.googleapis.com/css2?family=Karla+Tamil+Upright&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body {
	color: #f0f0f0;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	background: linear-gradient(300deg, #83d6fe, #017499, #003f86);
	background-size: 180% 180%;
	animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

header {
	display: flex;

}

header h1{
	margin: 0;
	flex: 1;
	align-self: center;
}

.button {
	background: rgba(255, 255, 255, 0.25);
	height: 65px;
	width: 65px;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.45);
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: 36px;
}

.button:before,
.button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 65px;
	height: 65px;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.45);
	filter: blur(0);
	background-color: rgba(255, 255, 255, 0.05);
	transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease, 950ms background-color ease;
}

.button:after {
 	transition-delay: 100ms;
}

.box-ripple:before,
.box-ripple:after {
	background-color: transparent;
	transform-origin: 50%;
	z-index: 2;
	filter: blur(1.5px);
	transform: scale(2);
}

.box-ripple:after {
	transition-delay: 100ms;
}

/* container */

#container {
	box-sizing: border-box;
	/* border: 1px solid #fff; */
	/* border-radius: 16px; */
	max-width: 350px;
	margin: 10px auto;
	padding: 15px;
	/* height: fit-content; */
	/* max-height: calc(100% - 20px); */
}

/* footer */

footer {
	display: flex;
}

.about {
	align-self: center;
	flex: 1;
}

/* tab stuff */

.tab-wrap {
	transition: 0.3s box-shadow ease;
	border-radius: 6px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	list-style: none;
	background-color: #fff;
	margin: 20px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab-wrap:hover {
	box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
	display: none;
}

.tab:checked:nth-of-type(1)~.tab__content:nth-of-type(1) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(2)~.tab__content:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(3)~.tab__content:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(4)~.tab__content:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(5)~.tab__content:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:first-of-type:not(:last-of-type)+label {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type)+label {
	border-radius: 0;
}

.tab:last-of-type:not(:first-of-type)+label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.tab:checked+label {
	background-color: #fff;
	box-shadow: 0 -1px 0 #fff inset;
	cursor: default;
}

.tab:checked+label:hover {
	box-shadow: 0 -1px 0 #fff inset;
	background-color: #fff;
}

.tab+label {
	box-shadow: 0 -1px 0 #eee inset;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #333;
	flex-grow: 3;
	text-align: center;
	background-color: #f2f2f2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	transition: 0.3s background-color ease, 0.3s box-shadow ease;
	height: 50px;
	box-sizing: border-box;
	padding: 15px;
}

.tab+label:hover {
	background-color: #f9f9f9;
	box-shadow: 0 1px 0 #f4f4f4 inset;
}

.tab__content {
	padding: 10px 0px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: -1;
	opacity: 0;
	left: 0;
	transform: translateY(-3px);
	border-radius: 6px;
}