annotated-types==0.7.0
asgiref==3.8.1
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
distlib==0.3.9
Django==5.1.6
djangorestframework==3.15.2
docopt==0.6.2
filelock==3.17.0
google-auth==2.38.0
google-genai==1.2.0
idna==3.10
pip==25.0.1
pipreqs==0.4.13
platformdirs==4.3.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.11.0a2
pydantic_core==2.29.0
requests==2.32.3
rsa==4.9
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
websockets==14.2
yarg==0.1.10
